pip == 20.0.2
nltk==3.4.5
setuptools==41.0.0
textblob==0.15.3
pytest==5.1.2
afinn==0.1
moralstrength==0.2.3
torch==1.4.0
transformers==2.4.1
numpy==1.22.0
pyspellchecker==0.5.3
contractions==0.0.24
py-readability-metrics
scikit_learn==0.20.0
pytorch-pretrained-bert==v0.6.0
loguru
ttictoc
test-tube==0.7.5
pytorch-nlp==0.5.0
